.inner-page {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 0 auto;
}

.content,
.right-menu {
  margin-top: 16px;
}

.left-menu-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 80px;
  position: sticky;
}

@media screen and (max-width: 700px) {
  .inner-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    width: 500px;
  }

  .left-menu-container {
    margin-top: 32px;
  }
}

@media screen and (max-width: 500px) {
  .content {
    width: 320px;
  }
}
