.padding-left {
  padding-left: 10px;
}

.left-menu {
  width: 150px;
}

@media screen and (max-width: 992px) {
  .left-menu {
    display: flex;
    flex-direction: row;
    width: 700px;
  }

  .button-centered {
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .left-menu {
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .left-menu {
    width: 320px;
  }
}
