/* Define common styles */
:root {
  --primary-color-light: #3c5466;
  --secondary-color-light: #08aceb;
  --primary-color-dark: #08aceb;
  --secondary-color-dark: #f2f2f2;
  --background-color-light: #f2f2f2;
  --background-color-dark: #313338;
  --background-color-very-dark: #232428;
  --text-color-header: #f2f2f2f2;
  --transparent: #ffffff;
  --text-input-dark: #383a3f;
  --large-screen: 992px;
  --medium-screen: 768px;
  --small-screen: 500px;
  --app-bar-height: 48px;
}

.error {
  color: #ff0000;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.button-no-caps {
  text-transform: none;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.flex-vertical {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-start {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.medium-font-size {
  font-size: 1.5rem;
}
