/* Define common styles */
:root {
  --primary-color-light: #3c5466;
  --secondary-color-light: #08aceb;
  --primary-color-dark: #08aceb;
  --secondary-color-dark: #f2f2f2;
  --background-color-light: #f2f2f2;
  --background-color-dark: #3c5466;
  --text-color-light: #3c5466;
  --text-color-dark: #3c5466;
  --text-color-header-light: #ffffff;
  --text-color-header-dark: #ffffff;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.button-no-caps {
  text-transform: none;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.flex-vertical {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.medium-font-size {
  font-size: 1.5rem;
}
