.toolbar {
  height: var(--app-bar-height);
  padding: 0px, 16px;
  min-height: var(--app-bar-height);
  justify-content: space-between;
}

.app-bar {
  height: var(--app-bar-height);
}

.center-container {
  height: 100%;
  width: 500px;
}

.image {
  width: 40px;
  height: 40px;
  object-fit: contain;
  padding-right: 10px;
}

.left-container {
  justify-content: flex-start;
  flex-direction: row;
  width: 200px;
}

.right-container {
  width: 200px;
}

.styrorail {
  font-size: 1.3rem;
  font-weight: bolder;
  color: white;
  margin: 0;
  padding: 0;
}
